#Makefile
makefile
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specfific settings
*.sublime-workspace
*.sublime-project

# Builds
/build/

# runtests
/test/runtests

# trashpapers
/trashpapers/

# callgrind and profiling data
*.out.*

# swap-files
*.swp

#plist
*.plist

#backups
*backup

#YouCompleteMe
.ycm_extra_conf.py

#executable
swordbow-magic

#clang_complete
.clang_complete

#linter-clang
.linter-clang*
